<div class='ui modal'>
  <div class='ui icon header'>
    Description
  </div>
  <div id='modalContent' class='content'>
  </div>
  <div class='actions'>
    <div class='ui green ok inverted button'>
      <i class='checkmark icon'></i> Ok
    </div>
  </div>
</div>