<div class="ui items">
  <% records.forEach((record) => { %>
    <%- include('components/rent_info', { record: record }) %>
  <% }) %>
  <a id="more" href="./more">more</a>
  <div class="ui active centered inline loader" style="display: none;"></div>
</div>