	</div>
	<%- include('components/desc_modal') %>
	<script>
		$(function($) {
			$('.dropdown').dropdown();
			$('div .ui .animated').on('click', function(e) {
			  var $target = $(this);
				let description = $target.next().text();
				$('#modalContent').html(description);
				$('.modal').modal('show');
			});
			$('#more').on('click', function() {
				$('#more').hide();
				$('.loader').show();
			});
			$('#queryBtn').on('click', function() {
				$.get('/query', {
					keywords: $('#keywords').val(),
					range: $('#range').val()
				}, function() {
					// $.get('/');
				});
			})
			document.getElementById('more').scrollIntoView();
		});
</script>
</body>
</html>