	</div>
	<%- include('components/desc_modal') %>
	<script>
		$(function($) {
			$('div .ui .animated').on('click', function(e) {
				var $target = $(this);
				let description = $target.next().text();
				$('#modalContent').html(description);
				$('.modal').modal('show');
			});
		});
	</script>
</body>
</html